.filter-cont
{
 text-align: right;
}
.filter-cont .tab
{
    display: inline-block;
    margin: 0.5%;
}

.filter-cont .tab:hover
{
    color: rgb(90, 90, 90);
}


.filter-cont .label
{
    margin: 1px;
    display: inline-block;
    font-size: 13px;

}

.filter-cont .icon
{
    height: 15px;
    width: 15px;
    margin: 1px;
    display: inline-block;
}
